<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Local</th>
        <th scope="col">Categoria</th>
        <th scope="col">Subcategoria</th>
        <th scope="col">Representante</th>
        <th scope="col">Telefono</th>
        <th scope="col">Estado</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loc of locales">
        <th scope="row">{{loc.id_negocio}}</th>
        <td>{{loc.nombre_negocio}}</td>
        <td>{{loc.local}}</td>
        <td>{{loc.nombre_categoria}}</td>
        <td>{{loc.nombre_subcategoria}}</td>
        <td>{{loc.nombre_persona}}</td>
        <td>{{loc.telefono}}</td>
        <td>{{loc.estado}}</td>
      </tr>
    </tbody>
  </table>


<form (ngSubmit)="insertData()">
    <div class="form-group">
        <label for="nombre-negocio">Nombre del negocio</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="nombre-negocio">Local</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>...</option>
            <option *ngFor="let loc of locales" value={{loc.local}}>{{loc.local}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nombre-negocio">Categoria</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>...</option>
            <option *ngFor="let cat of cats" value={{cat.id_categoria}}>{{cat.nombre}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nombre-negocio">Subcategoria</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>...</option>
            
            <option *ngFor="let cat of cats" value={{cat.id_subcategoria}}>{{cat.nombre_subcategoria}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nombre-negocio">Nombre del dueño</label>
        <select  class="form-select" aria-label="Default select example">
            <option selected>...</option>
            <option *ngFor="let due of duenos" value={{due.cedula}}>{{due.nombre_persona}}</option>
        </select>
    </div>

    <button class="btn btn-dark btn-sm mt-4">Añadir</button>
</form>